.container {
  max-width: 450px;
  margin: 50px auto;
  padding: 40px;
  background: #2E2E33;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(107, 78, 113, 0.1);
}

h2  {
  font-size: 25px;
  font-weight: 700;
  color: #E8E8E8;
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #A68A64;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #E8E8E8;
}

label span {
  margin-bottom: 8px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

input {
  padding: 12px 15px;
  border: 1px solid #6B4E71;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background: #1A1A1D;
  color: #E8E8E8;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #A68A64;
  background: #2E2E33;
}

button {
  padding: 12px;
  background: linear-gradient(135deg, #6B4E71, #543B5A);
  color: #E8E8E8;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #543B5A;
}