/* Estilize o footer */
.footer {
    height: 200px; /* Corrigido: adicione "px" à unidade */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    flex-shrink: 0; /* Impede que o footer encolha */
    width: 100%;
  }